<div class="col-md-12">
    <div class="container">
        <div class="">
            <div class="text-center">
                <h3 id="title" class="title">Bedrijfsprofiel aanmaken:</h3>
                <p class="sub-title">* Deze gegevens kunnen laten nog worden aangepast.</p>
            </div>
        </div>
        <div class="card card-container companyprofile">
            <form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
                <div class="form-control-group">
                    <label for="CompanyIntroduction">Bedrijfs omschrijving:</label>
                    <div class="form-control-group">
                        <ckeditor [editor]="Editor"></ckeditor>
                    </div>
                    <div id="word-count"></div>
                </div>
                <div class="form-control-group">
                    <label for="Companylogo">Bedrijfslogo</label>
                    <input type="file" class="input-full-width" name="Companylogo" class="input-full-width" accept="image/png, image/jpeg" [(ngModel)]="form.Companylogo" #Companylogo="ngModel">
                </div>
                <div class="form-control-group">
                    <label for="ownerFirstName">Voornaam:</label>
                    <input type="text" class="input-full-width" name="ownerFirstName" [(ngModel)]="form.ownerFirstName" #ownerFirstName="ngModel">
                </div>
                <div class="form-control-group">
                    <label for="ownerLastname">Achternaam:</label>
                    <input type="text" class="input-full-width" name="ownerLastname" [(ngModel)]="form.ownerLastname" #ownerLastname="ngModel" value="form.ownerLastname">
                </div>
                <div class="form-control-group">
                    <label for="ownerPicture">Profile</label>
                    <input type="file" class="input-full-width" name="ownerPicture" accept="image/png, image/jpeg">
                </div>
                <div class="form-control-group">
                    <label for="CompanyUrl">Website van Bedrijf:</label>
                    <input type="text" class="input-full-width" name="CompanyUrl" [(ngModel)]="form.CompanyUrl" #CompanyUrl="ngModel">
                </div>
                <div class="form-control-group">
                    <label for="facebooklink"><fa-icon [icon]="icons.faFacebook"></fa-icon>Facebook:</label>
                    <input type="text" class="input-full-width" name="facebooklink" [(ngModel)]="form.facebooklink" #facebooklink="ngModel">

                    <label for="instagramlink"><fa-icon [icon]="icons.faInstagram"></fa-icon>Instagram:</label>
                    <input type="text" class="input-full-width" name="instagramlink" [(ngModel)]="form.instagramlink" #instagramlink="ngModel">

                    <label for="linkedinlink"><fa-icon [icon]="icons.faLinkedin"></fa-icon>Linkedin:</label>
                    <input type="text" class="input-full-width" name="linkedinlink" [(ngModel)]="form.linkedinlink" #linkedinlink="ngModel">
                </div>

                <div class="form-control-group">
                    <label for="Place">Plaats:</label>
                    <input type="text" class="input-full-width" name="Place" [(ngModel)]="form.Place" #Place="ngModel">
                </div>
                <div class="form-control-group">
                    <label for="Streetname">Straat:</label>
                    <input type="text" class="input-full-width" name="Streetname" [(ngModel)]="form.Streetname" #Streetname="ngModel">
                </div>
                <div class="form-control-group">
                    <label for="housenumber">Huisnummer:</label>
                    <input type="text" class="input-full-width" name="housenumber" [(ngModel)]="form.housenumber" #housenumber="ngModel">
                </div>
                <div class="form-control-group">
                    <label for="zipcode">Postcode:</label>
                    <input type="text" class="input-full-width" name="zipcode" [(ngModel)]="form.zipcode" #zipcode="ngModel" pattern="/^\d{4} ?[a-z]{2}$/i">
                </div>
                <div class="form-control-group">
                    <button type="submit" class="btn btn-primary btn-block">Opslaan</button>
                </div>

            </form>
        </div>
    </div>