.widget {
    margin-left: 20px;
    margin-right: 20px;
}

.widget-card {
    width: 300px;
    height: 200px;
}

.jumbotron {
    /*background: url('http://placekitten.com/800/500') no-repeat center center;*/
    background-color: #FFFFFF;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
}


@media (max-width: 768px) {
    .widget-card {
        width: 200px;
        height: 125px;
    }
}