<div class="container">

  <div class="row">
    <div class="col-12"><h2>Nieuwe vacature</h2></div>
  </div>
</div>
<div class="card card-container verify-form">
  <div class="card-row">
    <div class="col-12">
      <h4>Nieuwe vacature aanmaken</h4>
    </div>
    <div class="col-12">
      <form
        *ngIf="!isLoggedIn"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
      >

        <div class="form-group">
          <label for="function">Functie*</label>
          <input
            type="text"
            class="form-control col-md-12"
            placeholder="Tapper"
            name="function"
            id="function"
            data-mandatory="true"
            data-error-mandatory="Het invullen van de naam van de functie is verplicht."
            [(ngModel)]="form.jobName"
          >
        </div>

        <div class="form-group">
          <label for="functiondescription">Functieomschrijving*</label>
          <textarea
            class="form-control col-md-12"
            placeholder="Binnen deze functie ..."
            name="functiondescription"
            id="functiondescription"
            maxlength="500"
            data-mandatory="true"
            data-error-mandatory="Het invullen van een functieomschrijving is verplicht."
            [(ngModel)]="form.jobDescription"
          ></textarea>
        </div>

        <div class="form-group">
          <label for="functionimage">
            Foto van de werkplek*
          </label>
          <p>Maak een leuke foto van de werkplek</p>
<!--          <div class="mb-3">-->
<!--            <label for="formFile" class="form-label">Default file input example</label>-->
<!--            <input class="form-control" type="file" id="formFile">-->
<!--          </div>-->
          <input
            type="file"
            class="form-control col-md-12"
            name="functionimage"
            id="functionimage"
            accept="image/png, image/jpeg"
            (change)="onImageChange($event)"
          >
          <div class="preview" *ngIf="workplace">
            <img [src]="workplace" style="width:400px;">
          </div>
        </div>

<!--        <div class="form-group">-->
<!--          <div class="row">-->
<!--            <label for="street" class="col-md-6">Adres van de functie</label>-->
<!--            <label for="street" class="col-md-6">Plaats van de functie</label>-->
<!--            <input-->
<!--              type="text"-->
<!--              class="form-control col-md-6"-->
<!--              placeholder="Kalverstraat 140"-->
<!--              name="street"-->
<!--              id="street"-->
<!--              [(ngModel)]="form.jobStreet"-->
<!--            >-->
<!--            <input-->
<!--              type="text"-->
<!--              class="form-control col-md-6"-->
<!--              placeholder="Amsterdam"-->
<!--              name="city"-->
<!--              id="city"-->
<!--              [(ngModel)]="form.jobCity"-->
<!--            >-->
<!--          </div>-->
<!--        </div>-->

        <div class="form-group">
          <label for="functionimage">
            Werkdagen
          </label>
          <div class="table-responsive">
            <table class="table table-sm table-hover table-hours">
              <caption>Hierboven kunt u aangeven voor welke dag(delen) u personeel zoekt.</caption>
              <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">
                  <label>Ochtend</label><br>
                  (06:00 - 12:00)
                </th>
                <th scope="col">
                  <label>Middag</label><br>
                  (12:00 - 18:00)
                </th>
                <th scope="col">
                  <label>Avond</label><br>
                  (18:00 - 00:00)
                </th>
                <th scope="col">
                  <label>Nacht</label><br>
                  (00:00 - 06:00)
                </th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th scope="row">Maandag</th>
                <!--                <td><input type="checkbox" name="jobTimesMondayMorning" [(ngModel)]="form.jobTimes.hoi"></td>-->
                <td><input type="checkbox" name="jobTimesMondayMorning" [(ngModel)]="form.availability[0].morning"></td>
                <td><input type="checkbox" name="jobTimesMondayAfternoon" [(ngModel)]="form.availability[0].afternoon">
                </td>
                <td><input type="checkbox" name="jobTimesMondayEvening" [(ngModel)]="form.availability[0].evening"></td>
                <td><input type="checkbox" name="jobTimesMondayNight" [(ngModel)]="form.availability[0].night"></td>
              </tr>
              <tr>
                <th scope="row">Dinsdag</th>
                <td><input type="checkbox" name="jobTimesTuesdayMorning" [(ngModel)]="form.availability[1].morning">
                </td>
                <td><input type="checkbox" name="jobTimesTuesdayAfternoon"
                           [(ngModel)]="form.availability[1].afternoon"></td>
                <td><input type="checkbox" name="jobTimesTuesdayEvening" [(ngModel)]="form.availability[1].evening">
                </td>
                <td><input type="checkbox" name="jobTimesTuesdayNight" [(ngModel)]="form.availability[1].night"></td>
              </tr>
              <tr>
                <th scope="row">Woensdag</th>
                <td><input type="checkbox" name="jobTimesWednesdayMorning"
                           [(ngModel)]="form.availability[2].morning"></td>
                <td><input type="checkbox" name="jobTimesWednesdayAfternoon"
                           [(ngModel)]="form.availability[2].afternoon"></td>
                <td><input type="checkbox" name="jobTimesWednesdayEvening"
                           [(ngModel)]="form.availability[2].evening"></td>
                <td><input type="checkbox" name="jobTimesWednesdayNight" [(ngModel)]="form.availability[2].night">
                </td>
              </tr>
              <tr>
                <th scope="row">Donderdag</th>
                <td><input type="checkbox" name="jobTimesThursdayMorning" [(ngModel)]="form.availability[3].morning">
                </td>
                <td><input type="checkbox" name="jobTimesThursdayAfternoon"
                           [(ngModel)]="form.availability[3].afternoon"></td>
                <td><input type="checkbox" name="jobTimesThursdayEvening" [(ngModel)]="form.availability[3].evening">
                </td>
                <td><input type="checkbox" name="jobTimesThursdayNight" [(ngModel)]="form.availability[3].night"></td>
              </tr>
              <tr>
                <th scope="row">Vrijdag</th>
                <td><input type="checkbox" name="jobTimesFridayMorning" [(ngModel)]="form.availability[4].morning"></td>
                <td><input type="checkbox" name="jobTimesFridayAfternoon" [(ngModel)]="form.availability[4].afternoon">
                </td>
                <td><input type="checkbox" name="jobTimesFridayEvening" [(ngModel)]="form.availability[4].evening"></td>
                <td><input type="checkbox" name="jobTimesFridayNight" [(ngModel)]="form.availability[4].night"></td>
              </tr>
              <tr>
                <th scope="row">Zaterdag</th>
                <td><input type="checkbox" name="jobTimesSaturdayMorning" [(ngModel)]="form.availability[5].morning">
                </td>
                <td><input type="checkbox" name="jobTimesSaturdayAfternoon"
                           [(ngModel)]="form.availability[5].afternoon"></td>
                <td><input type="checkbox" name="jobTimesSaturdayEvening" [(ngModel)]="form.availability[5].evening">
                </td>
                <td><input type="checkbox" name="jobTimesSaturdayNight" [(ngModel)]="form.availability[5].night"></td>
              </tr>
              <tr>
                <th scope="row">Zondag</th>
                <td><input type="checkbox" name="jobTimesSundayMorning" [(ngModel)]="form.availability[6].morning"></td>
                <td><input type="checkbox" name="jobTimesSundayAfternoon" [(ngModel)]="form.availability[6].afternoon">
                </td>
                <td><input type="checkbox" name="jobTimesSundayEvening" [(ngModel)]="form.availability[6].evening"></td>
                <td><input type="checkbox" name="jobTimesSundayNight" [(ngModel)]="form.availability[6].night"></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="tags" class="form-label">Tags</label>
              <input class="form-control" name="tagInput" list="tag-list" id="tags" placeholder="Zoek een tag..."
                     [(ngModel)]="form.tagInput" #tagInput="ngModel">
              <datalist id="tag-list">
                <option value="Horeca">
                <option value="Supermarkt">
                <option value="Verkoper">
                <option value="Flexibel">
                <option value="Gezellig team">
              </datalist>
              <button class="btn btn-primary" type="button" (click)="addTag()">Voeg tag toe</button>
            </div>
          </div>
          <div class="col-sm-6" id="selected-tag-list">

          </div>
        </div>

        <div class="form-group">
          <p class="form-check-label">
            Is er een wettelijke minimum leeftijd voor deze vacature?
          </p>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="minimum-age-yesno" id="minimum-age-yes" value="yes"
                   [(ngModel)]="form.minimumAgeYesNo">
            <label class="form-check-label" for="minimum-age-yes">Ja</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="minimum-age-yesno" id="minimum-age-no" value="no"
                   [(ngModel)]="!form.minimumAgeYesNo">
            <label class="form-check-label" for="minimum-age-no">Nee</label>
          </div>
          <div class="row mb-3">
            <label for="minimum-age" class="col-sm-6 col-form-label">Minimum leeftijd</label>
            <div class="col-sm-6">
              <input class="form-control" type="number" name="minimum-age" id="minimum-age" min="16" max="100"
                     [(ngModel)]="form.minimumAge">
            </div>
          </div>
        </div>

        <!--        Checkboxes uit de tabel, verder wordt dit nog gevalideerd -->

        <div class="form-group">
          <label>
            Uurloon
          </label>
          <div class="table-responsive">
            <table class="table table-sm table-hover table-wages">
              <thead>
              <tr>
                <th scope="col">
                  <label>Leeftijd</label>
                </th>
                <th scope="col">
                  <label>Uurloon</label>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th scope="row">16 jaar</th>
                <td><input type="number" step="0.01" min="1" name="wages-16" [(ngModel)]="form.wages.age16"></td>
              </tr>
              <tr>
                <th scope="row">17 jaar</th>
                <td><input type="number" step="0.01" min="1" name="wages-17" [(ngModel)]="form.wages.age17"></td>
              </tr>
              <tr>
                <th scope="row">18 jaar</th>
                <td><input type="number" step="0.01" min="1" name="wages-18" [(ngModel)]="form.wages.age18"></td>
              </tr>
              <tr>
                <th scope="row">19 jaar</th>
                <td><input type="number" step="0.01" min="1" name="wages-19" [(ngModel)]="form.wages.age19"></td>
              </tr>
              <tr>
                <th scope="row">20 jaar</th>
                <td><input type="number" step="0.01" min="1" name="wages-20" [(ngModel)]="form.wages.age20"></td>
              </tr>
              <tr>
                <th scope="row">21 jaar en ouder</th>
                <td><input type="number" step="0.01" min="1" name="wages-21" [(ngModel)]="form.wages.age21"></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!--        Als hier nee wordt gekozen, date pickers onzichtbaar maken -->

        <div class="form-group">
          <p class="form-check-label">
            Is deze vacature voor een bepaalde tijd?
          </p>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="set-period-yesno" (change)="onSetPeriod(true)"
                   id="set-period-yes" value="yes" [(ngModel)]="form.setPeriodYesNo">
            <label class="form-check-label" for="set-period-yes">Ja</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="set-period-yesno" (change)="onSetPeriod(false)"
                   id="set-period-no" value="no" [(ngModel)]="form.setPeriodYesNo" checked>
            <label class="form-check-label" for="set-period-no">Nee</label>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-6">
            <label for="date-start" class="form-label">Van</label>
            <input type="date" class="form-control" name="date-start" id="date-start" [disabled]="!setPeriod"
                   [(ngModel)]="form.startdate">
          </div>
          <div class="form-group col-sm-6">
            <label for="date-end" class="form-label">Tot</label>
            <input type="date" class="form-control" name="date-end" id="date-end" [disabled]="!setPeriod"
                   [(ngModel)]="form.enddate">
          </div>
        </div>

        <div class="form-group">
          <button class="btn btn-primary btn-block col-md-5">
            Vacature aanmaken
          </button>
        </div>

      </form>
    </div>
  </div>
  <!-- <form
  *ngIf="!isLoggedIn"
  name="form"
  (ngSubmit)="f.form.valid && onSubmit()"
  #f="ngForm"
  novalidate
>
<div class="row">
  <div class="col-md-4"><h3>Bedrijfsgegevens</h3></div>
  <div class="col-md-8"></div>
</div>
<div class="form-group">
  <label for="companyname">Bedrijfsnaam:</label>
  <input
    type="text"
    class="form-control col-md-6"
    name="companyname"
    (keyup)="adddialog('companyNamedialog')"
    [(ngModel)]="form.companyname"
    required
    #companyname="ngModel"
  />
<div
class="alert alert-danger col-md-6  "
role="alert"
*ngIf="companyname.errors && dialogChecks.companyNamedialog"
> -->
</div>
