.form-control-group .table-hours td input[type=checkbox] {
  width: 32px;
  height: 32px;
  background-size: 1000px 1000px;
  margin: auto;
  display: block;
}
.form-control-group .table-hours td input[type=checkbox]::after { /* Fix size of custom checkbox */
  font-size: 16px;
}
