<div class="col-md-12">
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 text-center">
            <h1 id="title" class="title">Login</h1>
            <p class="sub-title">Hallo! Log in met je email.</p>
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row card card-container p-4">
            <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate aria-labelledby="title"  >
                <div class="form-control-group">
                    <label for="emailadress">Emailadress</label>
                    <!--                 
                    <input
                    type="email"
                    class="form-control"
                    name="emailadress"
                    [(ngModel)]="form.emailadress"
                    required
                    #emailadress="ngModel"
                    />
                    -->
                    <input
                    class="input-full-width"
                    [(ngModel)]="form.emailadress"
                    #emailadress="ngModel"
                    name="emailadress"
                    id="input-emailadress"
                    placeholder="Emailadres"
                    pattern=".+@.+\..+"
                    autofocus
                    [attr.aria-invalid]="emailadress.invalid && emailadress.touched ? true : null"
                    [required]="getConfigValue('forms.validation.email.required')"
                    />
                    <!-- 
                    <div
                    class="alert alert-danger"
                    role="alert"
                    *ngIf="emailadress.errors && f.submitted"
                    >
                    Emailadress is verplicht
                    </div> 
                    -->
                    <ng-container *ngIf="emailadress.invalid && emailadress.touched">
                    <p class="caption status-danger" *ngIf="emailadress.errors?.required">
                        Emailadres is verplicht!
                    </p>
                    <p class="caption status-danger" *ngIf="emailadress.errors?.pattern">
                        Emailadres moet een echt email zijn!
                    </p>
                    </ng-container>
                </div>
                <div class="form-control-group">
                    <span class="label-with-link">
                        <label class="label" for="password">Wachtwoord</label>
                        <a class="forgot-password caption-2" routerLink="../forgot-password">Wachtwoord vergeten?</a>
                    </span>
                    <!--
                    <input
                    type="password"
                    class="form-control"
                    name="password"
                    [(ngModel)]="form.password"
                    required
                    minlength="6"
                    #password="ngModel"
                    /> 
                    -->
                    <input
                    class="input-full-width"
                    [(ngModel)]="form.password"
                    #password="ngModel"
                    name="password"
                    type="password"
                    id="input-password"
                    placeholder="Password"
                    [required]="getConfigValue('forms.validation.password.required')"
                    [minlength]="getConfigValue('forms.validation.password.minLength')"
                    [maxlength]="getConfigValue('forms.validation.password.maxLength')"
                    [attr.aria-invalid]="password.invalid && password.touched ? true : null"
                    >
                    <div
                    class="alert alert-danger"
                    role="alert"
                    *ngIf="password.errors && f.submitted"
                    >
                    <div *ngIf="password.errors.required">Voer uw wachtwoord in.</div>
                    <div *ngIf="password.errors.minlength">
                        wachtwoord moet tenmiste 6 characters hebben.
                    </div>
                    </div>
                </div>
                <div class="form-group">
                    <input
                    type="checkbox"
                    name="rememberMe"
                    id="rememberMe"
                    value="no"
                    [(ngModel)]="form.rememberMe"
                    #rememberMe="ngModel"
                    />
                    <label for="rememberMe">Hou mij ingelogd.</label><br />
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">Login</button>
                </div>
                <div class="form-group text-right">
                    <a routerLink="/register"><u>Heb je nog geen account? registreer je hier</u></a
                    >
                </div>
            </form>
        </div>
    </div>
</div>
