<div class="background" *ngIf="!isLoggedIn">
  <div class="container-fluid d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <div class="col-12 card fadeAnimation">
      <div id="card-title">
        <img src="/assets/img/logo_dark.svg" alt="image">
      </div>
      <div class="error-message" *ngIf="emailField.empty">
        <fa-icon [icon]="icons.faExclamationTriangle"></fa-icon>
        E-mailadres ongeldig.
      </div>
      <form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate aria-labelledby="title">
        <div class="mb-3">
          <input
            type="email"
            class="form-control"
            [(ngModel)]="form.email"
            #email="ngModel"
            name="email"
            id="input-email"
            placeholder="E-mailadres"
            autofocus
            [attr.aria-invalid]="email.invalid && email.touched ? true : null"
            [required]="getConfigValue('forms.validation.email.required')"
          >
        </div>
        <div class="mb-3">
          <input
            type="password"
            class="form-control"
            [(ngModel)]="form.password"
            #password="ngModel"
            name="password"
            id="input-password"
            placeholder="Wachtwoord"
            [required]="getConfigValue('forms.validation.password.required')"
            [minlength]="getConfigValue('forms.validation.password.minLength')"
            [maxlength]="getConfigValue('forms.validation.password.maxLength')"
            [attr.aria-invalid]="password.invalid && password.touched ? true : null"
          >
        </div>
        <div class="form-control-group">
					<span class="label-with-link">
            <a class="forgot-password caption-2" routerLink="../forgot-password">Wachtwoord vergeten?</a>
          </span>
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="password.errors && f.submitted"
          >
            <div *ngIf="password.errors.required">Voer uw wachtwoord in.</div>
            <div *ngIf="password.errors.minlength">
              wachtwoord moet tenmiste 6 karakters hebben.
            </div>
          </div>
        </div>
        <!--
        <div class="form-group">
            <input
            type="checkbox"
            name="rememberMe"
            id="rememberMe"
            value="no"
            [(ngModel)]="form.rememberMe"
            #rememberMe="ngModel"
            />
            <label for="rememberMe">Houd mij ingelogd.</label><br />
        </div>
        !-->
        <div class="form-group">
          <button type="submit" (click)="validateForms()" class="btn btn-grad btn-primary btn-block lift">Login</button>
        </div>
        <div class="form-group">
          Nog geen account?
          <a routerLink="/register">Bedrijf registreren</a>
        </div>
      </form>
    </div>
  </div>
</div>
