<div class="col-md-12">
  <div class="container">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4 text-center"><h2>Inloggen</h2></div>
      <div class="col-4"></div>
    </div>
    <div class="row card card-container p-4">
      <form
        *ngIf="!isLoggedIn"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="email">Emailadress</label>
          <input
            type="email"
            class="form-control"
            name="email"
            [(ngModel)]="form.email"
            required
            #email="ngModel"
          />
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="email.errors && f.submitted"
          >
            Emailadress is verplicht
          </div>
        </div>
        <div class="form-group">
          <label for="password">Wachtwoord</label>
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
          />
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="password.errors && f.submitted"
          >
            <div *ngIf="password.errors.required">Voer uw wachtwoord in.</div>
            <div *ngIf="password.errors.minlength">
              wachtwoord moet tenmiste 6 characters hebben.
            </div>
          </div>
        </div>
        <div class="form-group">
          <input
            type="checkbox"
            name="rememberMe"
            id="rememberMe"
            value="no"
            [(ngModel)]="form.rememberMe"
            #rememberMe="ngModel"
          />
          <label for="rememberMe">Hou mij ingelogd.</label><br />
        </div>
        <div class="form-group text-right">
          <a href="#" class="" routerLink="#"><u>Uw wachtwoord vergeten?</u></a>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">Login</button>
        </div>
        <div class="form-group text-right">
          <a routerLink="/register"><u>Heb je nog geen account? registreer je hier</u></a
          >
        </div>
        <div class="form-group text-right">
          <a routerLink="/forgot-password"><u>Wachtwoord vergeten?</u></a>
        </div>
      </form>
    </div>
  </div>
</div>
