.card-vacancy {
  margin: 0;
  cursor: pointer;
  vertical-align: bottom;
  border: 6px solid white;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 2px 15px 5px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  height: 500px;
  position: relative;
}
.card-vacancy:hover {
  box-shadow: 0 4px 18px 8px rgba(0, 0, 0, 0.3);
}

.card-vacancy-text {
  color: white;
  font-family: 'Avenir Semibold';
  font-size: 22px;
  text-align: left;
  padding: 0 10px 10px;
  display: inline-block;
  position: absolute;
  bottom: 0;
}

.card-vacancy-text span {
  display: block;
}
.card-vacancy-text .vacancy-title {
  font-size: 24px;
  margin-bottom: 5px;
}
.card-vacancy-text .vacancy-company {
  font-size: 18px;
  margin-bottom: 10px;
}
.card-vacancy-text .vacancy-info {
  font-size: 14px;
}
.card-vacancy-text .vacancy-info:last-child {
  margin-bottom: 10px;
}

.card-vacancy-time {
  top: 25px;
  margin-left: 5px;
  position: absolute;
}

.card-vacancy-options {
  top: 25px;
  right: 30px;
  position: absolute;
  border: 3px solid;
  border-radius: 50%;
  border-color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

/*.container-vacancy {*/
/*  border: 6px solid #FFFFFF;*/
/*  border-radius: 15px;*/
/*  vertical-align: text-bottom;*/
/*}*/

/*
.card-vacancy:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
}
*/

/*.jumbotron:hover {*/
/*  box-shadow: 0 4px 18px 8px rgba(0, 0, 0, 0.3);*/
/*}*/

/*.jumbotron {*/
/*  transition-duration: 0.4s;*/
/*  color: #FFFFFF;*/
/*  background-color: #FFFFFF;*/
/*  padding: 0;*/
/*  border-radius: 25px;*/
/*  box-shadow: 0 2px 15px 5px rgba(0, 0, 0, 0.2);*/
/*  -webkit-appearance: none;*/
/*  background-repeat: no-repeat;*/
/*  background-size: cover;*/
/*  background-position: center;*/
/*  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);*/
/*}*/

/*.addgreyfilter {*/
/*  filter: grayscale(100%);*/
/*}*/
