<div class="card-vacancy" [routerLink]="['/vacancy-details', vacancy.jobid]">
    <div class="fadeAnimation">
        <div class="jumbotron" [ngStyle]="{'background': getUrl1(), 'webkit-background': getUrl2(), 'filter': getFilter()}">
            <div class="container-vacancy">
                <div class="card-vacancy-text">
                    {{vacancy.jobName}}
                </div>
                <div class="card-vacancy-time">
                    <img src="/assets/img/icon_time.svg" width="20%" alt="image">
                    {{vacancy.daysValid}} dagen
                </div>
                <div class="card-vacancy-options">
                    <img src="/assets/img/icon_menu_dots.svg" width="100%" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>