<div class="col-md-12">
  <div class="container">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4 text-center">
        <h2 id="title" class="title">Wachtwoord vergeten</h2>
        <p class="sub-title">Vul je emailadres onder in.</p>
      </div>
      <div class="col-4"></div>
    </div>
    <div class="row card card-container p-4">
      <div class="card-body">
        <!-- <h1 class="text-center card-title">Wachtwoord vergeten?</h1> -->
        <form
          [formGroup]="forgotPasswordForm"
          autocomplete="off"
          novalidate
          (ngSubmit)="forgotPassword(forgotPasswordForm.value)"
        >
          <div class="form-group row">
            <label for="email" class="col-form-label col-sm-2"
              >Emailadres:</label
            >
            <div class="col-md-5">
              <input
                type="text"
                id="email"
                formControlName="email"
                class="form-control"
              />
            </div>
            <div class="col-md-5">
              <em
                *ngIf="
                  validateControl('email') && hasError('email', 'required')
                "
                >Email is verplicht</em
              >
            </div>
          </div>
          <br />
          <div class="form-group row">
            <div class="col-md-1">
              <button
                type="submit"
                class="btn btn-info"
                [disabled]="!forgotPasswordForm.valid"
              >
                Versturen
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
