<div class="col-md-12 center">
  <div class="container">
    <div class="">
      <div class="text-center">
        <h2 id="title" class="title">Wachtwoord vergeten</h2>
        <p class="sub-title">Vul je emailadres onder in.</p>
      </div>
    </div>
    <div class="row card card-container p-4">
      <div class="card-body">
        <!-- <h1 class="text-center card-title">Wachtwoord vergeten?</h1> -->
        <form
          [formGroup]="forgotPasswordForm"
          autocomplete="off"
          novalidate
          (ngSubmit)="forgotPassword(forgotPasswordForm.value)" >
          <div class="form-control-group">
            <label for="emailadress">Emailadress</label>
           
            <input
            class="input-full-width"
            [(ngModel)]="forgotPasswordForm.emailadress"
            #emailadress="ngModel"
            name="emailadress"
            id="input-emailadress"
            placeholder="Emailadres"
            pattern=".+@.+\..+"
            autofocus
            [attr.aria-invalid]="emailadress.invalid && emailadress.touched ? true : null"
            [required]="getConfigValue('forms.validation.email.required')"
            />
            <ng-container *ngIf="emailadress.invalid && emailadress.touched">
            <p class="caption status-danger" *ngIf="emailadress.errors?.required">
                Emailadres is verplicht!
            </p>
            <p class="caption status-danger" *ngIf="emailadress.errors?.pattern">
                Emailadres moet een echt email zijn!
            </p>
            </ng-container>
        </div>
          <br />
            <div class="form-group">
            <button type="submit" [disabled]="!forgotPasswordForm.valid" class="btn btn-primary btn-block">Login</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
