form{
    width: 100%;
}
input{
    border-radius: .25rem;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.5rem;
    padding: 1rem;
    width: 100%;
    transition-duration: .15s;
    transition-property: border,background-color,color,box-shadow;
    transition-timing-function: ease-in;
    overflow: visible;
    background-color: transparent
}
label{
    margin-bottom: 0.5rem;
    justify-content: space-between;
}