<div id="app">
    <header class="header" id="header" *ngIf="isLoggedIn">
        <div>
            <a class="sidebar-menu-icon" (click)="toggleMenu()"><img src="/assets/img/icon_menu_light.svg" *ngIf="isLoggedIn" alt="image"></a>
        </div>
        <div>
            <a (click)="toggleMenu()"><img class="sidebar-profile-pic" src="/assets/img/icon_account.svg" alt="image"></a>
        </div>
    </header>
    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar" #sidebar>
            <div class="sidebar-header">
                <img src="/assets/img/logo_light.svg" width="80%" alt="image">
                <a class="sidebar-menu-icon" (click)="toggleMenu()"><img src="/assets/img/icon_menu_light.svg" alt="image"></a>
            </div>
            
            <ul class="list-unstyled components">
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <a routerLink="" (click)="toggleMenu()" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle a-sidebar">
                    <table>
                        <tr>
                            <td>
                                <img src="/assets/img/icon_home.svg" class="sidebar-icon sidebar-text" alt="image">
                            </td>
                            <td>
                                Overzicht    
                            </td>
                        </tr>
                    </table>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="my-vacancies" (click)="toggleMenu()" class="a-sidebar">
                        <table>
                            <tr>
                                <td>
                                    <img src="/assets/img/icon_contract.svg" class="sidebar-icon sidebar-text" alt="image">
                                </td>
                                <td>
                                    Mijn Vacatures
                                </td>
                            </tr>
                        </table>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="new-vacancy" (click)="toggleMenu()" class="a-sidebar">
                        <table>
                            <tr>
                                <td>
                                    <img src="/assets/img/icon_contract_new.svg" class="sidebar-icon sidebar-text" alt="image">
                                </td>
                                <td>
                                    Nieuwe Vacature
                                </td>
                            </tr>
                        </table>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="companyprofile" (click)="toggleMenu()" class="a-sidebar">
                        <table>
                            <tr>
                                <td>
                                    <img src="/assets/img/icon_add_business.svg" class="sidebar-icon sidebar-text" alt="image">
                                </td>
                                <td>
                                    Bedrijfsprofiel
                                </td>
                            </tr>
                        </table>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="user" (click)="toggleMenu()" class="a-sidebar">
                        <table>
                            <tr>
                                <td>
                                    <img src="/assets/img/icon_profile.svg" class="sidebar-icon sidebar-text" alt="image">
                                </td>
                                <td>
                                    Gebruiker    
                                </td>
                            </tr>
                        </table>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a (click)="logout()" (click)="toggleMenu()" class="a-sidebar">
                        <table>
                            <tr>
                                <td>
                                    <img src="/assets/img/icon_logout.svg" class="sidebar-icon sidebar-text" alt="image">
                                </td>
                                <td>
                                    Uitloggen    
                                </td>
                            </tr>
                        </table>
                    </a>
                </li>
            </ul>            
        </nav>
        
        <!-- Page Content -->
        <div class="container-fluid body-padding" id="main-content" style="padding-right: 5vw;">
            <router-outlet></router-outlet>
            <alert></alert>
        </div>
    </div>
   <div class="chatbar" *ngIf="this.chatService.rooms.roomlist.length > 0">
        <div class="row"  *ngFor="let room of this.chatService.rooms.roomlist; index as i">
            <div class="col-12" >
                <img src="assets/img/heads/{{i + 1}}.jpeg" class="chatImageCircle">
            </div>
        </div>
    </div> 
    <div style="position: fixed;right: 5vw;width:20vw;height: 100vh; z-index: 2;padding-top: 50px;">
        <div class="row"  class="box sb1" [ngClass]="{'showoff': !room.active}" *ngFor="let room of this.chatService.rooms.roomlist; index as i" style="margin-top:{{i*60}}px" >
            <div class="col-12" >
                <div class="row chathead" >
                    <div class="col-12" style="height:50px;line-height: 50px;">Zyad Osseyran</div>
                </div>
                <div  class="row chatBoxBody">
                    <ul class="row"  *ngFor="let chatmessage of this.chatService.rooms.roomlist[i].roommessage; index as i" style="width: 100%;">
                        <li class="messageleft" *ngIf="!chatmessage.me">{{chatmessage.message}}</li>
                        <li class="messageRight" *ngIf="chatmessage.me">{{chatmessage.message}}</li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-9">
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-3">
                        <button class="btn-sm btn-primary">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    

</div>
 <!-- 
<div style="position: fixed;bottom:0;right:0;  height: 40vh; width:80vw">
    <div class="row" style="min-height: 100vh;">
        <div class="col-10"></div>
        <div class="col-2">
            <div class="row" style="background-color: rgba(185, 223, 204, 0.664);border-top-right-radius: 20px;border-top-left-radius: 20px;padding:10px 5px 5px 10px; ">
                <div class="col-3"><img src="/assets/img/splash.jpg" style="width: 50px;height:50px;border-radius: 50px;"></div>
                <div class="col-9" style="height:50px;line-height: 50px;">Zyad Osseyran</div>
            </div>
            <div class="row" >
                
            </div>
        </div>
    </div>
    
</div>
-->