<div class="toppie">
    <mat-toolbar *ngIf="isLoggedIn">

        <div>
            <a class="sidebar-menu-icon" (click)="toggleMenu()"><img src="/assets/img/icon_menu_light.svg" *ngIf="isLoggedIn" alt="image"></a>
        </div>
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    </mat-toolbar>
    <mat-sidenav-container>
        <mat-sidenav #snav mode="side" opened class="mat-elevation-z8" >
            <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" />

            <h4 class="name">John Smith</h4>
            <p class="designation">Al meer dan 27 jaar mens!</p>

            <mat-divider></mat-divider>
            <mat-nav-list>
                <a mat-list-item routerLink=""> <mat-icon>home</mat-icon> <span>Dashboard</span></a>
                <a mat-list-item routerLink="companyprofile"> <mat-icon>class</mat-icon> <span>Bedrijfsprofiel</span></a>
                <a mat-list-item routerLink="my-vacancies"> <mat-icon>class</mat-icon> <span>Mijn Vacatures</span></a>
                <a mat-list-item routerLink="user"> <mat-icon>class</mat-icon> <span>Gebruiker</span></a>
                <a mat-list-item routerLink="admin"> <mat-icon>class</mat-icon> <span>admin</span></a>
                <a mat-list-item (click)="logout()"> <mat-icon>class</mat-icon> <span>Uitloggen</span></a>
            </mat-nav-list>
              
            <mat-divider></mat-divider>
    
            <button routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" mat-button class="menu-button">
                <mat-icon>help</mat-icon>
                <span>Help</span>
            </button>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="content mat-elevation-z8">
                <router-outlet></router-outlet>
                <alert></alert>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>