.sidebarCollapse {
    display: none;
}

a[data-toggle="collapse"] {
    position: relative;
}

.align-right {
    float: right;
}

.rounded {
    margin: 5px;
}

.header {
    z-index: 3;
    height: 50px;
    background-color: #191919;
    position: fixed;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
    -webkit-appearance: none;
}

.sidebar-icon {
    margin-right: 10px;
}

.body-padding{
    padding-top: 65px;

}

@media (min-width: 769px) {
    .body-padding{
        padding-left: 260px;
        padding-top: 80px;
    }
    .sidebar-menu-icon {
        display: none;
    }
}
