/*
 * Sidebar
 */

 .sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
      right: 0;
      */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  }
  
  @media (max-width: 767.98px) {
    .sidebar {
      top: 5rem;
    }
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
  }
  
  .sidebar .nav-link.active {
    color: #007bff;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: 0.75rem;
    text-transform: uppercase;
  }



  /* SIDEBAR VAN NEBULAR */
.syj-sidebar {
    background-color: linear-gradient(
      45deg,
      rgba(59, 236, 141, 1) 0%,
      rgba(80, 198, 218, 1) 100%
    );
    box-shadow:  0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);
    color: #424242;
    width: 16rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: auto;
    order: 0;
  }
  
  .syj-sidebar .main-container {
    height: 100vh;
    width: 100vh;
    transform: translate3d(0, 0, 0);
      display: flex;
      flex-direction: column;
  }
  .syj-sidebar .scrollable {
    padding: 1.25rem;
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
    overflow-y: auto;
      overflow-x: hidden;
      flex: 1;
  }
  .syj-sidebar.collapsed {
    width: 0;
    padding: 0;
  }
  .syj-sidebar.collapsed .main-container {
    width: 0;
    padding: 0;
  }
  .syj-sidebar.collapsed .scrollable {
    width: 0;
    padding: 0;
    overflow: hidden;
  }
  .syj-sidebar.collapsed .syj-sidebar-header,
  .syj-sidebar.collapsed .syj-sidebar-footer {
    width: 0;
    padding: 0;
    overflow: hidden;
  }
  .syj-sidebar.compacted {
    width: 3.5rem;
  }
  .syj-sidebar.compacted .main-container {
    width: 3.5rem;
  }
  .syj-sidebar.compacted nb-menu {
    width: 3.5rem;
  }
  syj-sidebar.compacted nb-menu .menu-item a.active {
    position: relative;
  }
  syj-sidebar.compacted nb-menu .menu-item a.active::before {
    position: absolute;
    content: "";
    top: 0;
    height: 100%;
    width: 4px;
    background: linear-gradient(
      45deg,
      rgba(59, 236, 141, 1) 0%,
      rgba(80, 198, 218, 1) 100%
    );
  }
  syj-sidebar.compacted nb-menu > .menu-items > .menu-item > a span,
  syj-sidebar.compacted nb-menu > .menu-items > .menu-item > a nb-badge,
  syj-sidebar.compacted nb-menu > .menu-items > .menu-item > a .expand-state {
    display: none;
  }
  syj-sidebar.compacted nb-menu .menu-items > .menu-item {
    transition: border-color 1s ease;
  }
  syj-sidebar.compacted nb-menu .menu-items > .menu-item.menu-group {
    display: block;
    color: transparent;
    width: 0;
    padding: 0;
    overflow: hidden;
  }
  syj-sidebar.compacted nb-menu .menu-items > .menu-item i {
    margin-right: 0;
  }
  syj-sidebar.compacted nb-menu .menu-items > .menu-item a {
    justify-content: center;
  }
  syj-sidebar.compacted nb-menu .menu-items > .menu-item > .expanded {
    display: none;
  }
  syj-sidebar.compacted.left.fixed ~ .content {
    margin-left: 3.5rem;
  }
  syj-sidebar.compacted.fixed.right ~ .content {
    margin-left: 0;
    margin-right: 3.5rem;
  }
  syj-sidebar.compacted.left.fixed ~ .content.center {
    padding-left: 3.5rem;
  }
  syj-sidebar.compacted.fixed.right ~ .content.center {
    padding-left: 0;
    padding-right: 3.5rem;
  }
  syj-sidebar.fixed.left.collapsed + .content,
  syj-sidebar.fixed.start.collapsed + .content {
    margin-left: 0;
  }
  syj-sidebar.fixed.right.collapsed + .content,
  syj-sidebar.fixed.end.collapsed + .content {
    margin-right: 0;
  }
  syj-sidebar.expanded {
    width: 100vh;
  }
  syj-sidebar.expanded > .scrollable {
    width: 100vh;
  }
  syj-sidebar syj-sidebar-header {
    padding: 1.25rem;
    height: 3.5rem;
  }
  syj-sidebar syj-sidebar-footer {
    padding: 1.25rem;
    height: 3.5rem;
  }
  syj-sidebar nb-menu {
    margin: 0 -1.25rem -1.25rem;
  }