h4 {
  font-family: "Avenir";
  margin-top: 8px;
  margin-bottom: 0px !important;
  font-size: 20px;
}
h5 {
  font-family: "Avenir Semibold";
  margin-top: 8px;
  margin-bottom: 0px !important;
}
form {
  width: 100%;
  margin-top: 0px !important;
  /*overflow: auto; PERHAPS better here */
}
fa-icon {
  font-size: 100px;
  color: #4DD6AC;
  text-align: center;
  margin-bottom: 20px
}
.card {
  width: 100%;
  border-radius: 12px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.25);
  width: 420px;
  padding: 45px 50px 25px 50px;
  margin: 10rem auto 10rem auto;
  border: none;
  overflow: auto !important;
}
@media (max-width: 768px) {
  .card {
      width: 100%
  }
  .card-container {
      margin-top: 2rem !important;
  }
}
@media (max-width: 520px) {
  .center {
      padding: 10px;
  }
}
@media (max-width: 420px) {
  .card {
      padding: 25px 25px 12px 25px;
      margin: 8rem auto 8rem auto;
  }
  .center {
      padding: 10px;
  }
}
#card-title {
  margin-bottom: 2rem;
}
.center {
  margin-top: 0rem !important;
  padding-top: 0rem !important;
}
label {
  margin-left: 2px;
  margin-right: 2px;
}
.label-with-link {
  margin-top: 1rem;
  margin-left: 0.05rem;
  justify-content: space-between;
}
input[type=checkbox]{
  transition-duration: 0.15s;
  transition-property: background-color,border,box-shadow;
  transition-timing-function: ease-in;
  width: 1.25rem;
  height: 1.25rem;
  border: none;
  position: relative;
  margin-right: 1%;
}
.background {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top, rgba(80, 198, 218, 0.90), rgba(59, 236, 141, 0.94)), url('assets/img/splash.jpg') center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  overflow: auto;
  z-index: 4;
}
label {
  margin-top: 10px !important;
}
.arrow {
  border: solid #626272;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  margin-bottom: 22px;
  cursor: pointer;
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
