<div class="container">
  <div class="row">
    <div class="col-12 col-md-8"><h2>Gebruikersbeheer</h2></div>
    <div class="col-12 col-md-4"><a href="/user-new" class="btn btn-lg btn-primary">Nieuwe gebruiker</a></div>
  </div>
</div>

<div class="container card-container user-management">
  <a class="card mb-3">
    <div class="row g-0">
      <div class="col-md-auto">
        <img src="https://via.placeholder.com/150" class="img-fluid rounded-start" alt="Profielfoto Zyad Osseyran">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title">Zyad Osseyran</h2>
          <p class="card-text">Hoofd kassa-afdeling</p>
          <p class="card-text">Zyad.Osseyran@jumbo.com</p>
          <p class="card-text"><small class="text-muted">Laatst ingelogd op 20 augustus 2021 15:13</small></p>
        </div>
      </div>
    </div>
  </a>

  <a class="card mb-3">
    <div class="row g-0">
      <div class="col-md-auto">
        <img src="https://via.placeholder.com/150" class="img-fluid rounded-start" alt="Profielfoto Zyad Osseyran">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title">Zyad Osseyran</h2>
          <p class="card-text">Hoofd kassa-afdeling</p>
          <p class="card-text">Zyad.Osseyran@jumbo.com</p>
          <p class="card-text"><small class="text-muted">Laatst ingelogd op 20 augustus 2021 15:13</small></p>
        </div>
      </div>
    </div>
  </a>

  <a class="card mb-3">
    <div class="row g-0">
      <div class="col-md-auto">
        <img src="https://via.placeholder.com/150" class="img-fluid rounded-start" alt="Profielfoto Zyad Osseyran">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title">Zyad Osseyran</h2>
          <p class="card-text">Hoofd kassa-afdeling</p>
          <p class="card-text">Zyad.Osseyran@jumbo.com</p>
          <p class="card-text"><small class="text-muted">Laatst ingelogd op 20 augustus 2021 15:13</small></p>
        </div>
      </div>
    </div>
  </a>

</div>
