<h1>Vacatures</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Voeg vacature toe</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">Titel</th>
            <th style="width: 30%">Omschrijving</th>
            <th style="width: 30%">Locatie</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Medewerker Vulploeg</td>
            <td>Als vulploegmedewerker bij Albert Heijn help je bij het lossen van de vrachtwagens en vul je de schappen. \r\nJe zorgt ervoor dat de winkel er verzorgd uitziet en je helpt klanten als zij een product niet kunnen vinden. Je doet dit samen met een team. Zo help je elkaar en is het iedere dag weer gezellig. Beweging is er altijd, dus de sportschool hoef je nu niet meer te bezoeken.\r\n\r\nBen jij de persoon die wij zoeken? Swipe ons dan naar rechts en wie weet sta jij binnenkort bij ons vakken te vullen!</td>
            <td>Papendorp, Utrecht</td>
        </tr>
    </tbody>
</table>