.card-container {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.card-container .form-control-group input {
  margin: 0 auto;
}

.card-container .form-control-group button {
  margin: 0 auto;
}
