<div class="background">
    <div class="center">
        <div class="scrollable">
        <div class="container-fluid">
            <div class="card fadeAnimation">
                <div id="card-title">
                    <img src="/assets/img/logo_dark.svg" alt="image">
                </div>
                <fa-icon [icon]="icons.faEnvelopeOpen"></fa-icon>
                <h4>Klik op de link in de verificatiemail om uw registratie te voltooien.</h4>
            </div>
        </div>
    </div>
    </div>
    </div>
    