<form [formGroup]="uploadForm" (ngSubmit)="upload()">

    <div class="form-group">
        <label for="file">File</label>
        <input type="file" class="form-control" id="file" formControlName="file" (change)="onImageChange($event)">
        <div *ngIf="uf.file.touched && uf.file.invalid" class="alert alert-danger">
            
        </div>
    </div>
    <button class="btn btn-success" type="submit">Upload File</button>

    <div class="preview" *ngIf="imgPreview">
        <img [src]="imgPreview" >
    </div>

</form>