/*::placeholder {*/
/*  color: #C0C0CF;*/
/*  opacity: 1;*/
/*}*/
/*:-ms-input-placeholder {*/
/*  color: #C9C9CF;*/
/*}*/
/*::-ms-input-placeholder {*/
/*  color: #C9C9CF;*/
/*}*/

/* LINKS */
/*a {*/
/*  cursor: pointer;*/
/*}*/
/*a:hover {*/
/*  text-decoration: none;*/
/*}*/

/*.btn {*/
/*  font-weight: bold;*/
/*  border: none !important;*/
/*  height: 45px;*/

/*}*/
/*.btn:focus {*/
/*  outline: none !important;*/
/*  border: none !important;*/
/*}*/
/*.btn:active {*/
/*  outline: none !important;*/
/*  border: none !important;*/
/*  transform: translate3d(0px, 1px, 0);*/
/*}*/
/*.btn-primary {*/
/*  font-weight: bold;*/
/*  border: none !important;*/
/*}*/
/*.btn-circle.btn-xl {*/
/*    width: 70px;*/
/*    height: 70px;*/
/*    padding: 10px 16px;*/
/*    border-radius: 35px;*/
/*    font-size: 35px;*/
/*    line-height: 1.33;*/
/*}*/

/*.btn-circle {*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    padding: 6px 0px;*/
/*    border-radius: 15px;*/
/*    text-align: center;*/
/*    font-size: 15px;*/
/*    line-height: 1.42857;*/
/*}*/

/* INPUT */
/*input {*/
/*  border-radius: 8px;*/
/*  border: none;*/
/*  font-family: 'Avenir Semibold';*/
/*  padding: 1rem;*/
/*  width: 100%;*/
/*  transition-duration: .15s;*/
/*  transition-property: border,background-color,color,box-shadow;*/
/*  transition-timing-function: ease-in;*/
/*  overflow: visible;*/
/*  color: #626272;*/
/*  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);*/
/*  -webkit-appearance: none;*/
/*  text-indent: 0;*/
/*  text-shadow: none;*/
/*}*/
/*input:focus-visible {*/
/*  outline-offset: 0;*/
/*  outline: none;*/
/*}*/
/*input:focus {*/
/*  outline-offset: 0;*/
/*  outline: none;*/
/*  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15) !important;*/
/*  -webkit-appearance: none;*/
/*}*/

/*!* The following will be deleted by Bart during the restyling of this web page *!*/
/*input[type=checkbox] {*/
/*  border-radius: 0;*/
/*}*/
/*input[type=radio], input[type=checkbox] {*/
/*  border: 3px solid red;*/
/*  width: 20px;*/
/*  height: 20px;*/
/*}*/
/*input[type=radio]:checked, input[type=checkbox]:checked {*/
/*  background-color: blue;*/
/*}*/
/*  */
.center {
    justify-content: center;
    margin: auto;
    display: block;
    width: 100%;
    max-width: 35rem;
    padding: 2.5rem;
}
.background-theme { /* Use this to apply the Swipe Your Job Gradient on the background of an element */
    background: rgb(59, 236, 141);
    background: linear-gradient(
        45deg,
        rgba(59, 236, 141, 1) 0%,
        rgba(80, 198, 218, 1) 100%
    );
}

.text-theme {
  background: -webkit-linear-gradient(
    45deg,
    rgba(59, 236, 141, 1) 0%,
    rgba(80, 198, 218, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-theme {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #50C6DA, #3BEC8D);
  background-origin: border-box;
  background-clip: content-box, border-box;
  color: #FFFFFF;
  border: solid 3px transparent;
  border-radius: 100rem;
  outline: none;
  box-shadow: 1px 2px 15px 0 rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  transition: all .1s ease-in-out;
}
.btn-theme.active, .btn-theme:active, .btn-theme:hover, .btn-theme:focus {
  color: white;
  border: solid 3px transparent;
}
.btn-theme:hover {
  box-shadow: 0 2px 25px 1px rgba(0, 0, 0, 0.2) !important;
  transform: translate3d(0px, -1px, 0);
  -webkit-transform: translate3d(0px, -1px, 0);
  -webkit-appearance: none;
}
.btn-theme:active {
  box-shadow: 1px 2px 15px 0 rgba(0, 0, 0, 0.2);
  transform: initial;
  -webkit-transform: initial;
  -webkit-appearance: initial;
}
/* END */

.app-container {
  min-height: 320px;
  overflow: hidden;
}
#app{
    display: flex;
    flex: 1;
    -ms-flex: 1 1 auto;
    flex-direction: row;
}
/*.container {*/
/*  padding: 10px;*/
/*}*/

/*.btn-delete-user {*/
/*  width: 40px;*/
/*  text-align: center;*/
/*  box-sizing: content-box;*/
/*}*/

/*.syj_content {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  !* color: #FFF; *!*/
/*  height: 100%;*/
/*}*/
/*.syj_content > section {*/
/*  flex: 1;*/
/*}*/

body {
  font-family: "Avenir", Helvetica, sans-serif;
  padding: 0;
  margin: 0 0 0 0;
  /* //display: flex; */
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  color: #626272;
  background-color: #F6F7FB;
}

.header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  /*background-color: var(--white-color);*/
  /*z-index: var(--z-fixed);*/
  z-index: 1;
  transition: .5s;
}

/*.jumbotron {*/
/*  background-color: #FFFFFF;*/
/*  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);*/
/*  -webkit-appearance: none;*/
/*}*/

alert {
  position: fixed;
  right: 10px;
  top: 10px;
}
.floating_alert {
  position: relative;
  top: 20px;
  right: 20px;
  z-index: 5000;
}
.input-full-width {
  width: 100%;
}
.title{
    margin-top: 0;
    margin-bottom: 0.75rem;
    text-align: center;
}
.sub-title {
  margin-bottom: 2rem;
  text-align: center;
}

.form-control-group {
  margin-bottom: 1rem;
}

.form-control-group.accept-group {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}
a {
  color: #4CBFDF !important;
}
ul.nav li a, ul.nav li a:visited {
  color: #4CBEBF !important;
}

.label-with-link {
  display: flex;
  justify-content: space-between;
}
.forgot-password {
  text-decoration: none;
  margin-bottom: 0.5rem;
}

/* Main-content */
#main-content {
    display: flex;
    flex: 1;
    -ms-flex: 1 1 auto;
    flex-direction: column;
    min-width: 0;
    /* margin-right: 0; */
}
