/* You can add global styles to this file, and also import other style files */

a {
  cursor: pointer;
}

.app-container {
  min-height: 320px;
  overflow: hidden;
}

.btn-delete-user {
  width: 40px;
  text-align: center;
  box-sizing: content-box;
}

.theme {
  background: rgb(59, 236, 141);
  background: linear-gradient(
    45deg,
    rgba(59, 236, 141, 1) 0%,
    rgba(80, 198, 218, 1) 100%
  );
}
.theme-links a {
  color: #fff;
  text-shadow: 1px 1px #000;
}
.syj_content {
  display: flex;
  flex-direction: column;
  /* color: #FFF; */
  height: 100%;
}
.syj_content > section {
  flex: 1;
}

body {
  font-family: "Prompt", sans-serif;
  padding: 0;
  margin: 0;
  /* //display: flex; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  color: black;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
    right: 0;
    */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.floating_alert {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 5000;
}
.input-full-width {
  width: 100%;
}

.sub-title {
  margin-bottom: 2rem;
  text-align: center;
}

.form-control-group {
  margin-bottom: 2rem;
}

.form-control-group.accept-group {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.label-with-link {
  display: flex;
  justify-content: space-between;
}
.forgot-password {
    text-decoration: none;
    margin-bottom: 0.5rem;
  }