<div class="container">
  <div class="vacancy-margin">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-4 col-xl-3 vacancy-detail" id="vacancy-nav">
          <div class="row">
            <div class="col-12 text-center">
              <h4>Vacatures</h4>
            </div>
          </div>
          <ul class="list-group col-12">
            <li class="list-group-item" [ngClass]="{'active' : vacancy.jobid == jobidFromRoute}" id="{{i}}"
                *ngFor="let vacancy of vacancies.joblist; index as i"
                (click)="viewVacancy(vacancy,i)">
              <div [routerLink]="['/vacancy-details', vacancy.jobid]">
                  <span class="jobtitle" [ngClass]="{'link-info': vacancy.jobid == jobidFromRoute }">
                    {{vacancy.jobName}}
                  </span>
              </div>
              <div [attr.data-index]="i" *ngIf="vacancy.jobid == jobidFromRoute">
                <a href="/vacancy-details/{{vacancy.jobid}}">
                  Sollicitanten <span
                  class="badge badge-secondary badge-pill {{ vacancy.amountofreactions > 0 ? 'minimum' : '' }}">{{vacancy.amountofreactions}}</span>
                </a>
                <a>Afgewezen <span
                  class="badge badge-secondary badge-pill">{{ vacancy.amountofrejections ? vacancy.amountofrejections : '0' }}</span>
                </a>
                <a>Statistieken</a>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-12 col-lg-8 col-xl-9">
          <div class="row">
            <div class="col-12 text-center">
              <h4>Likes op deze vacature</h4>
            </div>
          </div>
          <div class="row" *ngFor="let match of matches; index as i">
            <div class="card mb-3 col-12">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="{{match.profileImg}}" class="img-fluid rounded-start"
                       alt="Profielfoto {{match.voornaam}} {{match.achternaam}}">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{match.voornaam}} {{match.achternaam}} - {{match.age}} jaar</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                      additional content. This content is a little bit longer.</p>
                  </div>
                </div>
                <div class="card-footer col-12 col-sm-6">
                  <small class="text-muted">Gematcht op ../../....</small>
                </div>
                <div class="card-footer col-12 col-sm-6 accept-buttons">
                  <button type="button" class="btn btn-success col-6"
                          (click)="updateStatus(match.userid,true,match.jobid)">
                    <fa-icon [icon]="icons.faCheck"></fa-icon>
                  </button>
                  <button type="button" class="btn btn-danger col-6"
                          (click)="updateStatus(match.userid,false,match.jobid)">
                    <fa-icon [icon]="icons.faTimes"></fa-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>


          <!--          <div class="row" *ngFor="let match of matches; index as i">-->
          <!--            <img class="col-4" src="{{match.profileImg}}" alt="Profielfoto {{match.voornaam}} {{match.achternaam}}">-->
          <!--            <div class="col-8">-->
          <!--              <h5 class="card-title">{{match.voornaam}} {{match.achternaam}} - {{match.age}} jaar</h5>-->
          <!--              <p class="card-text">Werkervaring</p>-->
          <!--              <p class="card-text"><small class="text-muted">Updated 10 mins ago</small></p>-->
          <!--            </div>-->
          <!--          </div>-->
          <!--          <div class="match-list">-->
          <!--            <div class="card mb-3" *ngFor="let match of matches; index as i">-->
          <!--              <div class="row no-gutters">-->
          <!--                <div class="col-md-2">-->
          <!--                  <img class="match-img" src="{{match.profileImg}}" alt="{{match.profileImg}}">-->
          <!--                </div>-->
          <!--                <div class="col-md-10">-->
          <!--                  <div class="card-body row">-->
          <!--                    <div class="col-md-7">-->
          <!--                      <h5 class="card-title">{{match.voornaam}} {{match.achternaam}} - {{match.age}} jaar</h5>-->
          <!--                      <p class="card-text">Werkervaring</p>-->
          <!--                      <p class="card-text"><small class="text-muted">Updated 10 mins ago</small></p>-->
          <!--                    </div>-->
          <!--                    <div class="col-md-5">-->
          <!--                      <div class="card-text">-->
          <!--                        <table style="display:none">-->
          <!--                          <thead>-->
          <!--                          <tr>-->
          <!--                            <td></td>-->
          <!--                            <td>Ma</td>-->
          <!--                            <td>Di</td>-->
          <!--                            <td>Wo</td>-->
          <!--                            <td>Do</td>-->
          <!--                            <td>Vr</td>-->
          <!--                            <td>Za</td>-->
          <!--                            <td>Zo</td>-->
          <!--                          </tr>-->
          <!--                          </thead>-->
          <!--                          <tbody>-->
          <!--                          <tr>-->
          <!--                            <td>Ochtend</td>-->
          <!--                            <td><input type="checkbox" [checked]="false" disabled (change)="($event)"></td>-->
          <!--                            <td><input type="checkbox" [checked]="false" disabled (change)="($event)"></td>-->
          <!--                            <td><input type="checkbox" [checked]="false" disabled (change)="($event)"></td>-->
          <!--                            <td><input type="checkbox" [checked]="true" disabled (change)="($event)"></td>-->
          <!--                            <td><input type="checkbox" [checked]="false" disabled (change)="($event)"></td>-->
          <!--                            <td><input type="checkbox" [checked]="false" disabled (change)="($event)"></td>-->
          <!--                            <td><input type="checkbox" [checked]="false" disabled (change)="($event)"></td>-->
          <!--                          </tr>-->
          <!--                          <tr>-->
          <!--                            <td>Middag</td>-->
          <!--                            <td><input type="checkbox" [checked]="true" disabled (change)="($event)"></td>-->
          <!--                            <td><input type="checkbox" [checked]="true" disabled (change)="($event)"></td>-->
          <!--                            <td><input type="checkbox" [checked]="true" disabled (change)="($event)"></td>-->
          <!--                            <td><input type="checkbox" [checked]="true" disabled (change)="($event)"></td>-->
          <!--                            <td><input type="checkbox" [checked]="true" disabled (change)="($event)"></td>-->
          <!--                            <td><input type="checkbox" [checked]="true" disabled (change)="($event)"></td>-->
          <!--                            <td><input type="checkbox" [checked]="true" disabled (change)="($event)"></td>-->
          <!--                          </tr>-->
          <!--                          <tr>-->
          <!--                            <td>Avond</td>-->
          <!--                            <td><input type="checkbox" [checked]="false" disabled (change)="($event)"></td>-->
          <!--                            <td><input type="checkbox" [checked]="false" disabled (change)="($event)"></td>-->
          <!--                            <td><input type="checkbox" [checked]="true" disabled (change)="($event)"></td>-->
          <!--                            <td><input type="checkbox" [checked]="true" disabled (change)="($event)"></td>-->
          <!--                            <td><input type="checkbox" [checked]="true" disabled (change)="($event)"></td>-->
          <!--                            <td><input type="checkbox" [checked]="true" disabled (change)="($event)"></td>-->
          <!--                            <td><input type="checkbox" [checked]="true" disabled (change)="($event)"></td>-->
          <!--                          </tr>-->
          <!--                          <tr>-->
          <!--                            <td>Nacht</td>-->
          <!--                            <td><input type="checkbox" [checked]="true" disabled (change)="($event)"></td>-->
          <!--                            <td><input type="checkbox" [checked]="false" disabled (change)="($event)"></td>-->
          <!--                            <td><input type="checkbox" [checked]="false" disabled (change)="($event)"></td>-->
          <!--                            <td><input type="checkbox" [checked]="false" disabled (change)="($event)"></td>-->
          <!--                            <td><input type="checkbox" [checked]="false" disabled (change)="($event)"></td>-->
          <!--                            <td><input type="checkbox" [checked]="true" disabled (change)="($event)"></td>-->
          <!--                            <td><input type="checkbox" [checked]="true" disabled (change)="($event)"></td>-->
          <!--                          </tr>-->
          <!--                          </tbody>-->

          <!--                        </table>-->
          <!--                      </div>-->
          <!--                    </div>-->
          <!--                  </div>-->
          <!--                  <div class="row ml-2">-->
          <!--                    <div class="col">-->
          <!--                      <button type="button" class="btn btn-success btn-circle"-->
          <!--                              (click)="updateStatus(match.userid,true,match.jobid)">-->
          <!--                        <fa-icon [icon]="icons.faCheck"></fa-icon>-->
          <!--                      </button>-->
          <!--                      <button type="button" class="btn btn-danger btn-circle"-->
          <!--                              (click)="updateStatus(match.userid,false,match.jobid)">-->
          <!--                        <fa-icon [icon]="icons.faTimes"></fa-icon>-->
          <!--                      </button>-->
          <!--                    </div>-->
          <!--                  </div>-->
          <!--                </div>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </div>-->
        </div>
      </div>
    </div>
  </div>
</div>
