input {
  border-radius: 8px;
  border: none;
  font-family: "Avenir Semibold";
  padding: 1rem;
  width: 100%;
  transition-duration: 0.15s;
  transition-property: border, background-color, color, box-shadow;
  transition-timing-function: ease-in;
  overflow: visible;
  color: #626272;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
  appearance: auto;
  text-indent: 0;
  text-shadow: none;
}

.jobheader{
  cursor: pointer;
  color:blue;
  margin:5px;
}
.vacancy-detail {
  padding: 0 0;
  border-radius: 5px;
}
.active{
  background-color: #eeeeee;
  color: #626272;
  border-color: rgba(0, 0, 0, .125);
}
.item{
  border-bottom: solid 1px black;
  border-radius: 20px;
}
.vacancy-detail .badge-pill {
  float: right;
  height: 20px;
  font-size: 14px;
}
.vacancy-detail .badge-pill.minimum {
  background-image: linear-gradient(45deg, #50c6da, #3bec8d)
}
.vacancy-detail a {
  display: block;
  margin: 3px;
  padding: 3px 3px 3px 8px;
  border-radius: 30px;
}
.vacancy-detail a:hover {
  background-color: #cccccc;
}

.card-footer {
  padding-top: 18px;
}

.accept-buttons .btn {
  padding: 0;
  height: 28px;
}
