input {
  border-radius: 8px;
  border: none;
  font-family: "Avenir Semibold";
  padding: 1rem;
  width: 100%;
  transition-duration: 0.15s;
  transition-property: border, background-color, color, box-shadow;
  transition-timing-function: ease-in;
  overflow: visible;
  color: #626272;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
  appearance: auto;
  text-indent: 0;
  text-shadow: none;
}

.jobheader{
  cursor: pointer;
  color:blue;
  margin:5px;
}
.vacancy-detail {
  border-radius: 5px;
  margin-bottom: 15px;
}
.list-group-item{
  color: #626272;
}
.list-group-item.active{
  background-color: #eeeeee;
  color: #626272;
  border-color: rgba(0, 0, 0, .125);
}

.item{
  border-bottom: solid 1px black;
  border-radius: 20px;
}
.vacancy-detail .badge {
  float: right;
  height: 20px;
  line-height: 12px;
  font-size: 14px;
}
.vacancy-detail .badge.minimum {
  background-image: linear-gradient(45deg, #50c6da, #3bec8d)
}
.vacancy-detail a {
  display: block;
  margin: 3px;
  padding: 3px 3px 3px 8px;
  border-radius: 30px;
}
.vacancy-detail a:hover {
  background-color: #cccccc;
}

.profile {
  padding: 0;
}
.profile .image-holder {
  width: 200px;
  height: 200px;
  float: left;
  padding-left: 0;
}
.profile .image-holder img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: .2rem 0 0 0;
}
.profile .info-holder {
  width: calc(100% - 200px);
  height: 200px;
  float: right;
}
.profile .info-holder .card-title {
  height: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.profile .info-holder .card-text {
  height: calc(200px - 24px - 8px - 16px*2);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}
@media (max-width: 575px) {
  .profile {
  }
  .profile .image-holder {
    width: 100%;
    height: auto;
  }
  .profile .image-holder img {
    border-radius: .2rem .2rem 0 0;
  }
  .profile .info-holder {
    width: 100%;
    height: auto;
    max-height: 400px;
  }
  .profile .info-holder .card-title {
  }
  .profile .info-holder .card-text {
    height: auto;
    max-height: calc(400px - 24px - 8px - 16px*2);
  }
}

.card-footer {
  /*padding-top: 18px;*/
}

.accept-buttons {
  /*padding-top: 12px;*/
}
.accept-buttons button {
  /*padding: 0;*/
  /*height: 28px;*/
}
.chat-button button {
  width: 100%;
}
