<div class="container">
  <div class="row justify-content-center">
    <widget-component class="col-12 col-md-6"></widget-component>
    <widget-component class="col-12 col-md-6"></widget-component>
    <widget-component class="col-12 col-md-6"></widget-component>
    <widget-component class="col-12 col-md-6"></widget-component>
    <widget-component class="col-12 col-md-6"></widget-component>
    <widget-component class="col-12 col-md-6"></widget-component>
    <widget-component class="col-12 col-md-6"></widget-component>
    <widget-component class="col-12 col-md-6"></widget-component>
  </div>
</div>
