<div class="background" *ngIf="!isLoggedIn">
  <div class="container-fluid d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <div class="col-12 card fadeAnimation register-form">
      <div id="card-title">
        <img src="/assets/img/logo_dark.svg" alt="image">
        <h1>Bedrijf registreren</h1>
      </div>
      <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-group mb-3">
          <div class="registry-error-message" *ngIf="companyNameField.empty">
            <fa-icon [icon]="icons.faExclamationTriangle"></fa-icon>
            Bedrijfsnaam ongeldig.
          </div>
          <input type="text" class="input-full-width form-control" name="companyname" placeholder="Bedrijfsnaam" autofocus
                 (keyup)="companyNameField.empty=false" [(ngModel)]="form.companyname" required
                 #companyname="ngModel"/>
        </div>

        <div class="form-group mb-3">
          <div class="registry-error-message" *ngIf="zipcodeField.empty">
            <fa-icon [icon]="icons.faExclamationTriangle"></fa-icon>
            Postcode ongeldig.
          </div>
          <input type="text" class="input-full-width form-control" name="zipcode" placeholder="Postcode" [(ngModel)]="form.zipcode"
                 (keyup)="zipcodeField.empty=false" required #zipcode="ngModel"/>
        </div>
        <div class="form-group mb-3">
          <div class="registry-error-message" *ngIf="kvkField.empty">
            <fa-icon [icon]="icons.faExclamationTriangle"></fa-icon>
            KvK-nummer ongeldig.
          </div>
          <div class="registry-error-message" *ngIf="kvkField.taken">
            <fa-icon [icon]="icons.faExclamationTriangle"></fa-icon>
            KvK-nummer al geregistreerd.
          </div>
<!--          <div class="registry-error-message" *ngIf="kvkField.taken">-->
<!--            <a class='contact-margin' href="#">Is dit een fout?</a>-->
<!--          </div>-->
          <input type="text" class="input-full-width form-control" name="kvk" maxlength=8 placeholder="KvK-nummer"
                 (keypress)="($event.charCode >= 48 && $event.charCode < 58)"
                 (keyup)="kvkField.taken=false; kvkField.empty=false" [(ngModel)]="form.kvk" required #kvk="ngModel"/>
        </div>
        <div class="form-group mb-3">
          <input type="email" class="input-full-width form-control" name="email" placeholder="E-mailadres" [(ngModel)]="form.email"
                 #email="ngModel"/>
          <div class="alert alert-danger col-md-6  " role="alert"
               *ngIf="email.errors && dialogChecks.emailNameDialog">
            E-mailadres is leeg of is niet valide.
          </div>
        </div>
        <div class="form-group mb-3" (capsLock)="capsOn=$event">
          <input type="password" class="input-full-width form-control" name="password" placeholder="Wachtwoord"
                 [(ngModel)]="form.password" (keyup)=passwordchange($event) required #password="ngModel"/>

          <span *ngIf="capsOn" class="caps-on badge theme">Uw caps lock staat aan</span>

          <div class="col-8 password-checks" *ngIf="dialogChecks.passwordDialog">
            <div class="password-capital-check">
              Hoofdletter:
              <fa-icon [icon]="icons.faCheck" *ngIf=passwordChecks.passwordCapitalCheck></fa-icon>
              <fa-icon [icon]="icons.faTimes" *ngIf=!passwordChecks.passwordCapitalCheck></fa-icon>
            </div>
            <div class="password-number-check">
              Getal:
              <fa-icon [icon]="icons.faCheck" *ngIf=passwordChecks.passwordNumberCheck></fa-icon>
              <fa-icon [icon]="icons.faTimes" *ngIf=!passwordChecks.passwordNumberCheck></fa-icon>
            </div>
            <div class="password-length-check">
              Lengte:
              <fa-icon [icon]="icons.faCheck" *ngIf=passwordChecks.passwordLengthCheck></fa-icon>
              <fa-icon [icon]="icons.faTimes" *ngIf=!passwordChecks.passwordLengthCheck></fa-icon>
            </div>
          </div>
        </div>
        <div class="form-group mb-3" (capsLock)="capsOn=$event">
          <input type="password" class="input-full-width form-control" name="passwordrepeat" placeholder="Wachtwoord herhaald"
                 [(ngModel)]="form.passwordrepeat" (keyup)=passwordrepeatf($event) required
                 #passwordrepeat="ngModel"/>
          <div class="alert alert-danger" role="alert" *ngIf="dialogChecks.passwordRepeatDialog">
            Wachtwoord komt niet overeen.
          </div>
        </div>
        <label for="terms">Door op onderstaande knop te drukken ga je akkoord met onze <a href="#" target="_blank">Algemene
          Voorwaarden</a> en <a href="#" target="_blank">Privacyverklaring</a></label><br>
        <div class="form-group mb-3">
          <button type="submit" (click)="validateForms()" class="btn btn-grad btn-primary btn-block lift">
            Bedrijf registreren
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
