<div class="col-md-12">
    <div class="container">

        <div class="row">
          <div class="col-4"></div>
          <div class="col-4"><h2>Registreren</h2></div>
          <div class="col-4"></div>
        </div>
    </div>
    <div class="card card-container register-form">
        <form
        *ngIf="!isLoggedIn"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
      <div class="form-group">
        <label for="email">E-mailadres:</label>
        <input
          type="email"
          class="form-control col-md-6"
          name="email"
          [(ngModel)]="form.email"
          required
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
          #email="ngModel"
        />
        <div
          class="alert alert-danger col-md-6  "
          role="alert"
          *ngIf="email.errors"
        >
          E-mailadres is verplicht.
        </div>
      </div>
      <div class="form-group">
        <label for="password">Wachtwoord:</label>
        <input
          type="password"
          class="form-control col-md-6"
          name="password"
          [(ngModel)]="form.password"
          required
          #password="ngModel"
        />
        <div
          class="alert alert-danger col-md-6"
          role="alert"
          *ngIf="password.errors"
        >
        Wachtwoord moet een nummer en een hoofdletter bevatten. 
        </div>
      </div>
      <div class="form-group">
        <label for="passwordrepeat">Herhaal wachtwoord:</label>
        <input
          type="password"
          class="form-control col-md-6"
          name="passwordrepeat"
          [(ngModel)]="form.passwordrepeat"
          required
          #passwordrepeat="ngModel"
        />
        <div
          class="alert alert-danger col-md-6"
          role="alert"
          *ngIf="passwordrepeat.errors"
        >
          Wachtwoord komt niet overeen.
        </div>
      </div>
      <div class="form-group">
        <label for="companyname">Bedrijfsnaam:</label>
        <input
          type="text"
          class="form-control col-md-6"
          name="companyname"
          [(ngModel)]="form.companyname"
          required
          #companyname="ngModel"
        />
      </div>
      <div class="form-group">
        <label for="zipcode">Postcode:</label>
        <input
          type="text"
          class="form-control col-md-6"
          name="zipcode"
          [(ngModel)]="form.zipcode"
          required
          #zipcode="ngModel"
        />
      </div>
      <div class="form-group">
        <label for="zipcode">Hou mij up-to-date via e-mails:</label><br>
        <input
          type="radio"
         
          name="subscribe"
          value="yes"
          [(ngModel)]="form.subscribe"
          required
          #subscribe="ngModel"
        /> Ja
        <input
          type="radio"
          name="subscribe"
          value="no"
          [(ngModel)]="form.subscribe"
          required
          #subscribe="ngModel"
        /> Nee
      </div>
      <div class="form-group">
        <input
        type="checkbox"
        name="terms"
        id="terms"
        value="no"
        [(ngModel)]="form.terms"
        required
        #terms="ngModel"
      />
        <label for="terms">Ik heb de <a href="#">Algemene Voorwaarden</a> en <a href="#">Privacyverklaringen</a> gelezen en ga hiermee akkoord.</label><br>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block col-md-5">
          Bevestig registratie
        </button>
      </div>
    </form>
    </div>
</div>